# VPRN configuration

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service                           
        customer 1 name "1" create
            description "Default customer"
        exit
        customer 18 name "Return0" create
        exit
        vprn 18 name "18" customer 18 create
            subscriber-interface "toSubs" create
                group-interface "static" create
                exit
            exit
        exit
        vprn 18 name "18" customer 18 create
            subscriber-interface "toSubs" create
                address 10.1.1.10/24
                group-interface "static" create
                    oper-up-while-empty
                    sap 1/1/c1/1:10 create
                        static-host ip 10.1.1.1 create
                            no shutdown
                        exit
                    exit
                exit
            exit
            no shutdown
        exit
    exit
